@media (min-width: 768px) {
  .mobile-content {
    display: none;
  }
  .desktop-content {
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #ffff;
  }
}

@media (max-width: 767px) {
  .desktop-content {
    display: none;
  }
  .mobile-content {
    display: block;
  }

  /* .flex {
    
  } */
}
